*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2? family= Josefin+Sans & family= Red+Hat+Display:ital@1 & display=swap');
.posicion-alerta{
    color: rgba(0, 0, 0, 0.87);
    margin: 1em 2em;
    padding: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    background-color: rgba(66, 66, 66, 0.705);
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
}
.style{
    width: 14em;
    padding: 1em;
    margin: 1em;
    background-color: rgb(232, 242, 250);
    border: solid;
    
}

.card{
    width: 14em;
    padding: 1em;
    margin: 1em;
    background-color: rgba(66, 66, 66, 0.705);
    border-color: rgb(140, 0, 255);
}
.elementos{
    color: rgb(140, 0, 255);
    font-weight: 700;
}


#producto-contenedor{
    margin: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.posicion-botones{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.botones{
    margin: 1em;
}
.containerPruduct{
    display: flex;
    flex-direction: row;
}
img{
    border-radius: 1em;
}